.*~
*~
~*
auto/*
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.lox
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv
/main.pdf
/BSC_MSC-NAME-YEAR.pdf
/PHD-NAME-YEAR.pdf
/instructions.pdf
